<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="240" alt="">
        <p>barra de busqueda</p>
        <p>compra en cuotas y sin tarjeta</p>
<nav>
    <ul>
        <li><a href="#ofertas"></a>ofertas</li>
        <li><a href="#tiendas"></a>tiendas oficiales</li>
        <li><a href="#vender"></a>vender</li>
        <li><a href="#ayuda"></a>ayuda</li>
    </ul>
    <ul>
        <li><a href=""></a>crea tu cuenta</li>
        <li><a href=""></a>ingresa</li>
        <li><a href=""></a>mis compras</li>
    </ul>
</nav>
<img src="/images/img-home-banner.jpg" alt="">
    </header>
    <main>
<section>
<h3><li>Seccion: basado en tu ultima parada</li></h3>
<article>
    <img src="/images/img-cafetera-moulinex.jpg" width="240" alt="">
<ul>
    <li>imagen de la cafetera</li>
    <li>$6.770</li>
    <li>40% OFF</li>
    <li>Cafetera Moulinex</li>
</ul>
</article>
<article>
    <img src="/images/img-macbook-pro-2019.jpg" width="240" alt="">
    <ul>
        <li>imagen de MacBook</li>
        <li>$230.000</li>
        <li>20% off</li>
        <li>MacBook Pro 2019</li>
    </ul>
</article>
<article>
    <img src="/images/img-samsung-galaxy-s10.jpg" width="240" alt="">
    <ul>
        <li>imagen del Samsung Galaxy</li>
        <li>$70.500</li>
        <li>10% off</li>
        <li>Samsung Galaxy S10</li>
    </ul>
</article>
<article>
    <img src="/images/img-tv-samsung-smart.jpg" width="240" alt="">
<ul>
    <li>imagen del SmartTv</li>
    <li>$23.200</li>
    <li>5% off</li>
    <li>SmartTv Samsung 43"</li>
</ul>
</article>
</section>
<section>
    <h3><li>Seccion Ofertas</li></h3>
    <article>
        <img src="/images/img-cafetera-moulinex.jpg" width="240" alt="">
    <ul>
        <li>imagen de la cafetera</li>
        <li>$6.770</li>
        <li>40% OFF</li>
        <li>Cafetera Moulinex</li>
    </ul>
    </article>
    <article>
        <img src="/images/img-macbook-pro-2019.jpg" width="240" alt="">
        <ul>
            <li>imagen de MacBook</li>
            <li>$230.000</li>
            <li>20% off</li>
            <li>MacBook Pro 2019</li>
        </ul>
    </article>
    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" width="240" alt="">
        <ul>
            <li>imagen del Samsung Galaxy</li>
            <li>$70.500</li>
            <li>10% off</li>
            <li>Samsung Galaxy S10</li>
        </ul>
    </article>
    <article>
        <img src="/images/img-tv-samsung-smart.jpg" width="240" alt="">
    <ul>
        <li>imagen del SmartTv</li>
        <li>$23.200</li>
        <li>5% off</li>
        <li>SmartTv Samsung 43"</li>
    </ul>
    </article>
    </section>
    </main>
    <footer>
<section>
<article>
        <h4><li class="punto">Pagá con tarjeta o en efectivo</li></h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
</article>
<article>
    <h4><li class="punto">Envío gratis desde $ 2.500</li></h4>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
</article>
<article>
    <h4><li class="punto">Seguridad, de principio a fin</li></h4>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
</article>
<article>
    <h4><li class="punto">Copyright © 1999-2020 MercadoLiebre S.R.L.</li></h4>
</article>
</section>
<section>
    <h3>Mockup del micro desafio:</h3>
    <article>
        <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
        <h4>Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </article>
    <article>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </article>
    </section>
    </footer>
</body>
</html>