<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" class="logo" alt="">
        <form action="./">
            <input type="text">
            <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta</p>
        <nav>
            <ul class="categorias">
                <li><a href="#ofertas"></a>ofertas</li>
                <li><a href="#tiendas"></a>tiendas oficiales</li>
                <li><a href="#vender"></a>vender</li>
                <li><a href="#ayuda"></a>ayuda</li>
            </ul>
            <ul class="registro">
                <li><a href="/register">crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="#"></a>ingresa<i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href=""></a>mis compras<i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="" class="banner">
    </header>
    <main>
        <div class="card-login">
            <form action="" class="formulario">
                <div class="casillas-registro">
                    <label for="text"></label>
                    <input class="formulario-casillas id="text" type="text" name="text" placeholder="Nombre de usuario">
                </div>
                <div class="casillas-registro">
                    <label for="password"></label>
                    <input class="formulario-casillas id="password" type="password" name="password" placeholder="Elegi tu Contraseña">
                </div>
                <div class="formulario-boton">
                    <button class="boton" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>

</html>