<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="card-login">
            <form action="" class="formulario">
                <div class="casillas-registro">
                    <label for="text"></label>
                    <input class="formulario-casillas id=" name" name="name" type="text"
                        placeholder="Nombre y apellido">
                </div>
                <div class="casillas-registro">
                    <label for="text"></label>
                    <input class="formulario-casillas id=" text" name="text" type="text"
                        placeholder="Nombre de usuario">
                </div>
                <div class="casillas-registro">
                    <label for="email"></label>
                    <input class="formulario-casillas id=" email" type="email" name="email" placeholder="Email">
                </div>
                <div class="casillas-registro">
                    <label for="text">Fecha de Nacimiento</label>
                    <input class="formulario-casillas id=" text" name="text" type="text" placeholder="Domicilio">
                </div>
                <div class="casillas-registro">
                    <h2>Perfil de usuario</h2>
                    <label>Comprador</label>
                    <input type="radio" name="perfil" value="com">
                    <label>Vendedor</label>
                    <input type="radio" name="perfil" value="ven">
                </div>
                <div class="casillas-registro">
                    <h2>Intereses</h2>
                    <label>Electro</label>
                    <input type="checkbox" name="categorias" value="E">
                    <label>Moda</label>
                    <input type="checkbox" name="categorias" value="M">
                    <label>Hogar</label>
                    <input type="checkbox" name="categorias" value="H">
                    <label>Jugueteria</label>
                    <input type="checkbox" name="categorias" value="J">
                    <label>Vida sana</label>
                    <input type="checkbox" name="categorias" value="V">
                    
            </form>
        </div>
    </main>
</body>

</html>