.card-login {
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formulario {
    width: 90%;
}

/* casillas */
.casillas-registro {
    padding: 20px;
}

.formulario-casillas {
    border: 1px solid silver;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px lightslategrey;
    width: 100%;
    padding: 8px;
}

.formulario-casillas:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 10px cornflowerblue;
}

/* BOTON */
.formulario-boton {
    text-align: center;
    
    }
    
    .boton {
        width: 95%;
        background-color: blue;
        color: white;
        padding: 8px;
        margin-bottom: 20px;
    }
    